[InfluxDB]
token  = example-db
org    = example-org
bucket = example-bucket
server = ip

[1]
name        = House
regex       = "numberOfItems":(\d+)
url         = https://www.willhaben.at/iad/immobilien/haus-kaufen/haus-angebote?PRICE_FROM=0&PRICE_TO=300000&ESTATE_SIZE/LIVING_AREA_FROM=95&areaId=3&areaId=900&&page=1&view=list&force=true
measurement = MetaData_HouseData

[2]
name        = Flat
regex       = "numberOfItems":(\d+)
url         = https://www.willhaben.at/iad/immobilien/eigentumswohnung/eigentumswohnung-angebote?areaId=117224&areaId=117225&areaId=117226&areaId=117227&ESTATE_SIZE/LIVING_AREA_FROM=80&PRICE_TO=400000
measurement = MetaData_FlatData
