beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
html5lib==1.1
idna==3.7
influxdb-client==1.44.0
python-dateutil==2.9.0.post0
reactivex==4.0.4
requests==2.32.4
six==1.16.0
soupsieve==2.5
typing_extensions==4.12.2
urllib3==2.2.2
webencodings==0.5.1
